.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

/* Main Content Area */
.content {
  flex-grow: 1;
  display: flex;
  padding: 30px;
  box-sizing: border-box;
}